<!-- Testimonials Section
   ================================================== -->
<section id="testimonials">

    <div class="row">
        <div class="col-twelve">
            <h2 class="animate-this">Что о нас говорят.</h2>
        </div>
    </div>

    <div class="row flex-container">

        <div id="testimonial-slider" class="flex-slider animate-this">

            <ul class="slides">

                <li>
                    <p>
                        Тут типа, хвалят пуфики.
                    </p>

                    <div class="testimonial-author">
                        <img src="images/avatars/user-02.jpg" alt="Author image">
                        <div class="author-info">
                            Дуйшебаев Анарбек
                            <span class="position">Главный Демир Банка.</span>
                        </div>
                    </div>
                </li> <!-- end slide -->

                <li>
                    <p>
                       Ещё одна похвала.
                    </p>

                    <div class="testimonial-author">
                        <img src="images/avatars/user-03.jpg" alt="Author image">
                        <div class="author-info">
                            Алыбаева Жазгуль
                            <span>Газпром Кыргызстан.</span>
                        </div>
                    </div>
                </li> <!-- end slide -->

            </ul> <!-- end slides -->

        </div> <!-- end testimonial-slider -->

    </div> <!-- end flex-container -->

</section> <!-- end testimonials -->
<!-- stats
================================================== -->
<section id="clients">

    <div class="row animate-this">
        <div class="col-twelve">

            <div class="client-lists owl-carousel">
                <div><img src="images/clients/mozilla.png" alt=""></div>
                <div><img src="images/clients/bower.png" alt=""></div>
            </div>

        </div> <!-- end col-twelve -->
    </div> <!-- end row -->

</section> <!-- end clients -->
<!-- contact
================================================== -->
<section id="contact">

    <div class="overlay"></div>

    <div class="row narrow section-intro with-bottom-sep animate-this">
        <div class="col-twelve">
            <h3>Контакты</h3>
            <h1>Comfy Bag</h1>

            <p class="lead">Мы принимаем заказы по почте, а так же по телефону.</p>
        </div>
    </div> <!-- end section-intro -->

    <div class="row contact-content">

        <div class="col-seven tab-full animate-this">

            <h5>Напишите нам</h5>

            <!-- form -->
            <form name="contactForm" id="contactForm" method="post">

                <div class="form-field">
                    <input name="contactName" type="text" id="contactName" placeholder="Ваше имя" value="" minlength="2" required="">
                </div>

                <div class="row">
                    <div class="col-six tab-full">
                        <div class="form-field">
                            <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
                        </div>
                    </div>
                    <div class="col-six tab-full">
                        <div class="form-field">
                            <input name="contactPhone" type="text" pattern="\d*" id="contactPhone" placeholder="Номер телефона" value="" required="">
                        </div>
                    </div>
                </div>

                <div class="form-field">
                    <textarea name="contactMessage" id="contactMessage" placeholder="Введите сообщение..." rows="10" cols="50" required=""></textarea>
                </div>

                <div class="form-field">
                    <button class="submitform" type="submit">Отправить</button>

                    <div id="submit-loader">
                        <div class="text-loader">Отправка...</div>
                        <div class="s-loader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>

            </form> <!-- end form -->
            <!-- contact-warning -->
            <div id="message-warning"></div>

            <!-- contact-success -->
            <div id="message-success">
                <i class="fa fa-check"></i>Ваше сообщение отправлено, спасибо!<br>
            </div>

        </div> <!-- end col-seven -->

        <div class="col-four tab-full contact-info end animate-this">

            <h5>Наши контакты</h5>

            <div class="cinfo">
                <h6>Наш Email</h6>
                <p>
                    comfybag.bishkek@gmail.com<br>
                </p>
            </div> <!-- end cinfo -->

            <div class="cinfo">
                <h6>Наш телефон</h6>
                <p>
                    Мобильный: 0(771) 994115<br>
                </p>
            </div>

        </div> <!-- end cinfo -->

    </div> <!-- end row contact-content -->

</section> <!-- end contact -->